body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav2{
    max-width: 1180px;
    margin-inline: auto;
}

.nav-a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 170px;
}
.spec-a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
}