.right a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.a2{
    background: blue;
    color: white;
    border-radius: 6px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a3{
    background: blue;
    border-radius: 6px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

a{
    gap: 10px;
}
